body {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  margin: auto;
}

a,
a:visited,
a:hover {
  color: black;
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
}

header p {
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h1 em {
  font-style: normal;
  color: #d12020;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

main > div {
  max-width: 100%;
}

main > div > * {
  width: 100%;
}

main > div > article {
  width: auto;
}

aside:nth-child(1) {
  margin-top: 4rem;
}

aside:nth-child(1) p {
  font-size: 1.2rem;
}

aside:nth-child(2) {
  margin-top: 5rem;
}

aside:nth-child(2) h2 {
  color: #d12020;
}

aside:nth-child(2) h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

article:nth-child(1) h2 {
  color: #d12020;
  font-size: 2rem;
}

article:nth-child(2) h2 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
}

article:nth-child(2) {
  margin-top: 4rem;
}

article:nth-child(2) mark {
  background-color: rgba(0, 0, 0, 0.2);
}

p {
  line-height: 160%;
}
